.Main {
    
    
    width: 75%;
    position:fix;
    padding: 10px;
    height: 460px;
    background:rgb(69, 179, 189);
    display: flex;
  }

.table{
    width:100%;
}

.Blog {

     
     background-color: rgb(192, 192, 192);
     position: fixed;
     padding-left: 2%;
     padding-right: 5px;
     width: 21%;
     height: 220x;
     font-size: 10px;

}  




.App-logo {
    height: 100px;
    width: 150px;
  }
  
  

